/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
  --bg-hover: #ccc;
  --header-height: 46px;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

#main {

}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  height: var(--header-height);
  z-index: 999;
}

#nav {
  display: inline-block;
}

#nav, .sub-nav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  line-height: var(--header-height);
}

#nav li a {
  display: block;
  text-decoration: none;
  padding: 0 24px;
  
}

#nav li:hover .sub-nav {
  display: block;
}

#nav > li:hover > a,
.sub-nav li:hover a {
  color: var(--black) !important;
  background-color: var(--bg-hover) !important;
}

/* Sub navbar */
#nav .sub-nav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .sub-nav a {
  color: var(--black);
  padding: 0 16px;
  line-height: 38px;
}
#nav .nav-arrow-down {
  font-size: 12px;
}

/* Search Button */
#header .search-btn {
  float: right;
  padding: 0 21px;
  text-align: center;
}
#header .search-btn:hover {
  color: var(--white) !important;
  background-color: #f44336 !important;
  cursor: pointer;
}
#header .search-icon {
  color: var(--white);
  line-height: var(--header-height);
}

/* Slider */
#slider {
  position: relative;
  margin-top: var(--header-height);
  padding-top: 50%;
  background:
    url('/assets/img/slider-1.jpg') top center / cover no-repeat,
    url('/assets/img/slider-2.jpg'),
    url('/assets/img/slider-3.jpg');
}
#slider .text-content {
  position: absolute;
  bottom: var(--header-height);
  text-align: center;
  left: 0;
  right: 0;
  color: var(--white);
}
#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}
#slider .text-description {
  font-size: 14px;
}

/* Content */
#content {

}

/* Footer */
#footer {

}
